@import "base/fonts"
@import "base/libs"
@import "base/vars"
@import "base/extend"

*
	box-sizing: border-box

body
	font-size: 16px
	min-width: 990px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: $color-html-bg

.img-responsive
	display: block
	max-width: 100%
	height: auto

.wrapper
	width: 1400px
	margin: 0 auto
	position: relative

// .news, .photos
// 	width: 100%
// 	padding: 30px 480px 25px 50px

@import "header"
@import "navigation"
@import "news"
@import "banner"
@import "photos"
@import "aside"
@import "footer"
@import "base/media" // Всегда в конце
