<aside class="aside">
    <div class="aside__block"></div>
    <div class="aside__block2"></div>

    <div class="aside__content">
        <h2 class="aside__title">Останні новини</h2>

        <div class="aside__news">

            <div class="aside__item" id="asideItemId" style="display: none;">
                <a class="aside__link" href="#">
                    <div class="aside__img-cont">
                        <img class="aside__img">
                        <div class="aside__video">
                            <i class="fa fa-play-circle-o"></i>Видео<span class="aside__video-time"></span>
                        </div>
                    </div>
                    <span class="aside__item-title"></span>
                </a>
                <div class="aside__datetime"></div>
            </div>

            <div class="aside__banner" id="asideBannerId" style="display: none;">
                <a href="#" class="aside__banner-link">
                    <img class="aside__banner-img">
                </a>
            </div>
        </div>

        <div class="aside__load">
            <a href="#" class="aside__load-link">Завантажити ще</a> 
            <i class="fa fa-download"></i>
        </div>
    </div>
</aside>