<section class="banner">
    <div class="banner__wrapper">
        <div class="banner__cont">
            <iframe class="banner__iframe" src="http://player.hosting.1plus1.ua/tests/fe/adIframe.html"></iframe>
            
            <img class="banner__img banner__img--lt" src="img/banner/lt.jpg" alt="lt">
            <img class="banner__img banner__img--rt" src="img/banner/rt.jpg" alt="rt">
            <img class="banner__img banner__img--lb" src="img/banner/lb.jpg" alt="lb">
            <img class="banner__img banner__img--rb" src="img/banner/rb.jpg" alt="rb">
        </div>
    </div>
</section>