<section class="s-banner">
    <div class="banner-cont">
        <iframe class="banner-iframe" src="http://player.hosting.1plus1.ua/tests/fe/adIframe.html">
        
        </iframe>
        <img class="banner-img banner-img--lt" src="img/banner/lt.jpg" alt="lt">
        <img class="banner-img banner-img--rt" src="img/banner/rt.jpg" alt="rt">
        <img class="banner-img banner-img--lb" src="img/banner/lb.jpg" alt="lb">
        <img class="banner-img banner-img--rb" src="img/banner/rb.jpg" alt="rb">
    </div>
</section>