<footer class="footer">
    <div class="footer__partners">
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/one-plus-one.png" alt="one plus one" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/tet.png" alt="tet" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/two-plus-two.png" alt="two plus two" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/plus-plus.png" alt="plus plus" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/one-plus-one-int.png" alt="one plus one international" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/bigudi.png" alt="bigudi" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/unian.png" alt="unian" class="footer__img">
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="img/partners/ovva.png" alt="ovva" class="footer__img">
        </a>
    </div>
    <div class="footer__tsn">ТСН вражає</div>
    <div class="footer__year">2017</div>
</footer>