<section class="header">
    <div class="slider">

        <div class="slider__slide" id="sliderSlideId" style="display: none;">
            <a href="#" class="slider__link">
                <video class="slider__video" autoplay loop muted style="display: none;">
                    <source class="slider__video-src">
                </video>
                <h3 class="slider__title"></h3>
                <div class="slider__date">
                    <span class="slider__section"></span>
                    <span class="slider__datetime"></span>
                </div>
            </a>
        </div>

        <ul class="slider__nav"></ul>

    </div>
</section>