<section class="header">
    <div class="slider">

        <div class="slider__slide">
            <a href="#" class="slider__link">
                <video class="slider__video" autoplay loop muted>
                    <source src="img/slider/slide1.mp4" type="video/mp4">
                    <source src="http://player.hosting.1plus1.ua/tests/fe/v/TopNewsVideo.mp4" type="video/mp4">
                </video>
                <h3 class="slider__title">Внаслідок потужного вибуху підземної труби у Києві ушкоджені машини та будівлі</h3>
                <div class="slider__date"><span>ТСН День</span>29 травня, 2017 14:05</div>
            </a>
        </div>

        <div class="slider__slide">
            <a href="#" class="slider__link" style="background-image: url('img/slider/slide2.jpg')">
                <h3 class="slider__title">Макрон пригрозив Путіну посиленням санкцій у разі ескалації на Донбасі</h3>
                <div class="slider__date">Світ  29 травня, 2017 19:00</div>
            </a>
        </div>

        <div class="slider__slide">
            <a href="#" class="slider__link" style="background-image: url('img/slider/slide3.jpg')">
                <h3 class="slider__title">В Україні курить чверть дорослих: як відмовитися від згубної звички яка вбиваэ понад 6 ...</h3>
                <div class="slider__date">Світ  29 травня, 2017 12:47</div>
            </a>
        </div>

        <div class="slider__slide">
            <a href="#" class="slider__link" style="background-image: url('img/slider/slide4.jpg')">
                <h3 class="slider__title">В останній день весни Україну накриють потужні зливи з грозами та градом</h3>
                <div class="slider__date">Світ  29 травня, 2017 12:11</div>
            </a>
        </div>

        <div class="slider__slide">
            <a href="#" class="slider__link" style="background-image: url('img/slider/slide5.jpg')">
                <h3 class="slider__title">Убитий на Позняках чоловік був виконувачем обов'язків директора «Укрспирту»</h3>
                <div class="slider__date">Світ  29 травня, 2017 12:11</div>
            </a>
        </div>

        <ul class="slider__nav">    
            <li class="slider__nav-item" data-link="0"></li>
            <li class="slider__nav-item" data-link="1"></li>
            <li class="slider__nav-item" data-link="2"></li>
            <li class="slider__nav-item" data-link="3"></li>
            <li class="slider__nav-item" data-link="4"></li>
        </ul>

    </div>
</section>