<nav class="top-nav">
    <img src="img/logo.png" alt="tsn" class="top-nav__logo">

    <div class="top-nav__date">
        <div class="top-nav__weekday">Понеділок</div>
        <div class="top-nav__yearday">29 Травня, 2017</div>
    </div>

    <div class="top-nav__weather" style="background-image: url('img/weather/rain.png')">
        <div class="top-nav__city">Біла церкова</div>
        <div class="top-nav__temper">+25˚C</div>
    </div>

    <div class="top-nav__currency">
        <span class="top-nav__euro-sign top-nav__arrow--up">&#8364;</span>
        <span class="top-nav__euro-val">29.75</span>

        <span class="top-nav__dol-sign top-nav__arrow--down">&#x24;</span>
        <span class="top-nav__dol-val">26.45</span>
    </div>

    <form class="top-nav__search-form">
        <input class="top-nav__search-btn" type="search" value="">
    </form>
    

    <div class="top-nav__share">
        <nav class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link social__link--vk" href="https://vkontakte.com/" target="_blank" rel="nofollow">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--facebook" href="https://facebook.com/" target="_blank" rel="nofollow">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--twitter" href="https://twitter.com" target="_blank" rel="nofollow">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--odno" href="https://odnoklassniki.com" target="_blank" rel="nofollow">
                        <i class="fa fa-odnoklassniki"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--google" href="https://plus.google.com" target="_blank" rel="nofollow">
                        <i class="fa fa-google-plus-official"></i>
                    </a>
                </li>
            </ul>
		</nav>
        <button class="top-nav__share-btn" type="button"></button>
    </div>
</nav> 

<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item main-nav__item--ukr">
            <a href="#" class="main-nav__link">Україна</a>
        </li>

        <li class="main-nav__item main-nav__item--pol">
            <a href="#" class="main-nav__link">Політика</a>
        </li>

        <li class="main-nav__item main-nav__item--video">
            <a href="#" class="main-nav__link">Відео</a>
        </li>

        <li class="main-nav__item main-nav__item--tsn">
            <a href="#" class="main-nav__link">Випуски ТСН</a>
        </li>

        <li class="main-nav__item main-nav__item--blog">
            <a href="#" class="main-nav__link">Блоги</a>
        </li>

        <li class="main-nav__item main-nav__item--sport">
            <a href="#" class="main-nav__link">Проспорт</a>
        </li>

        <li class="main-nav__item main-nav__item--glam">
            <a href="#" class="main-nav__link">Гламур</a>
        </li>

        <li class="main-nav__item main-nav__item--lady">
            <a href="#" class="main-nav__link">Леді</a>
        </li>

        <li class="main-nav__item main-nav__item--inter">
            <a href="#" class="main-nav__link">Цікавинки</a>
        </li>

        <li class="main-nav__item main-nav__item--spec">
            <a href="#" class="main-nav__link">Спецпроекти</a>
        </li>

        <li class="main-nav__item main-nav__item--all">
            <i class="fa fa-bars"></i>
            <a href="#" class="main-nav__link">Всі розділи</a>

            <ul class="main-nav__sublist">
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Економіка</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Фото</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Київ</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">АТО</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Світ</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Туризм</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Авто</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Наука та ІТ</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Допомога</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Інтерв'ю</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Інфографіка</a>
                </li>
                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink">Книжки</a>
                </li>
            </ul>
            
        </li>
    </ul>
</nav>