<section class="news">
    <nav class="news__nav">
        <ul class="news__nav-list">
            <li class="news__nav-item">
                <a href="#" class="news__nav-link active">Головні новини</a>
            </li>
            <li class="news__nav-item">
                <a href="#" class="news__nav-link">Популярні</a>
            </li>
            <li class="news__nav-item">
                <a href="#" class="news__nav-link">Коментують</a>
            </li>
        </ul>
    </nav>

</section>