<section class="news">
    <div class="news__wrapper">
        <nav class="news__nav">
            <ul class="news__nav-list">
                <li class="news__nav-item">
                    <a href="#" class="news__nav-link active">Головні новини</a>
                </li>
                <li class="news__nav-item">
                    <a href="#" class="news__nav-link">Популярні</a>
                </li>
                <li class="news__nav-item">
                    <a href="#" class="news__nav-link">Коментують</a>
                </li>
            </ul>
        </nav>

        <div class="news__container">
            <div class="news__item" id="newsItemId" style="display:none;">
                <a href="#" class="news__item-link">
                    <div class="news__item-cont">
                        <img class="news__item-img">
                    </div>
                    <h4 class="news__item-title"></h4>
                </a>
                <div class="news__item-descr">
                    <span class="news__item-views"><i class="fa fa-eye"></i></span>
                    <span class="news__item-comments"><i class="fa fa-comment-o"></i></span>
                    <a href="#" class="news__item-section"></a>
                    <span class="news__item-datetime"></span>
                </div>
            </div>
        </div>

        <div class="news__video">
            <i class="fa fa-play news__video-play"></i>
            <i class="fa fa-times news__video-close"></i>
        </div>

    </div>

</section>