<section class="photos">
    <h2 class="photos__header">Фото репортаж</h2>
    <!--<div class="photos__cont">
        <div class="photos__item-sizer"></div>
        <div class="photos__gutter-sizer"></div>

        <div class="photos__item photos__item--width2">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item photos__item--height2">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item photos__item--height2">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item photos__item--height2">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o photos__open"></i>
        </div>

        <div class="photos__item">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o news__icon-share"></i>
        </div>

        <div class="photos__item">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o news__icon-share"></i>
        </div>

        <div class="photos__item">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o news__icon-share"></i>
        </div>

        <div class="photos__item photos__item--width2">
            <div class="photos__descr"></div>
            <i class="fa fa-share-square-o news__icon-share"></i>
        </div>

    </div>-->
</section>