$default-font: "MyriadPro", sans-serif

$color-black: #000000
$color-html-bg: #191919
$color-white: #ffffff
$color-grey: #cccccc
$color-light-grey: #e6e6e6
$color-red: #cc0000
$color-green: #339900
$color-menu-bg: #edede6
$color-menu-ukr: #ffd400
$color-menu-pol: #30b3bf
$color-menu-video: #3640b3
$color-menu-tsn: #d91616
$color-menu-blog: #cca266
$color-menu-sport: #73cc33
$color-menu-glam: #ba39e6
$color-menu-lady: #f2b6f2
$color-menu-inter: #f26522
$color-menu-spec: #f2b600
$color-menu-world: #028fbd
$color-menu-money: #76d1a4
$color-submenu: #f7f7eb
$color-aside-bg: #f2f2eb
$color-news-title: #4c4c45
$color-footer-year: #333333
$color-vk: #5c6d8c
$color-facebook: #5a6aa1
$color-twitter: #6cade3
$color-odno: #eb722e

$time: .4s
